{% extends 'products\base.html' %}

{% block content %}

<section class="products-container">
    <div class="products-container-header">
      <h1 class="products-container-title">Today</h1>
      <h2 class="products-container-sort">POPULAR | NEWEST</h2>
    </div>
    <hr>
  {% for product in object_list %}
  <a href="{{ product.get_absolute_url }}"><div class="product">
    <div class="product-body">
      {% if product.icon %}
      <div class="product-icon"><img src= "{{ product.icon.url }}" height="90" width="90"</div>
      {% endif %}
      <div class="product-overview">
        <h3 class="product-overview-title">{{ product.title }}</h3>
        <p class="product-overview-description">{{ product.short_description }}</p>
          <div class="product-category">
          <p class="product-overview-category-primary">Learning</p>
          <p class="product-overview-extra-categories"> + 5
          </div>
      </div>
  </div></a>
   <hr>
  {% endfor %}

</section>




{% endblock %}
